<div class="row">
  <div class="col-md-12">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Walk-in with coffee & tea</td> <td>Entresol bar 29</td></tr>
      <tr> <td>09:00</td>  <td><a href="{{site.workshop_site}}01-introduction">Introduction round</a></td> <td>Room 3</td> </tr>
      <tr> <td>09:15</td>  <td><a href="{{site.workshop_site}}02-introductionLLM">Generative AI: insights into the technology</a></td><td>Room 3</td>  </tr>
      <tr> <td>09:30</td>  <td><a href="{{site.workshop_site}}03-promptengineering">Prompt engineering using the ChatGPT web interface</a></td><td>Room 3</td>  </tr>
      <tr> <td>10:15</td>  <td>Coffee/tea break</td><td>Entresol 26</td> </tr>
      <tr> <td>10:30</td>  <td><a href="{{site.workshop_site}}04-OpenAI_API">The OpenAI API</a></td> <td>Room 3</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> <td>Entresol 26</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{site.workshop_site}}05-API_data_analytics">The OpenAI API and data analytics</a></td> <td>Room 3</td> </tr>
      <tr> <td>14:30</td>  <td><a href="{{site.workshop_site}}06-imagegeneration">Image generation and processing through the API</a></td> <td>Room 3</td> </tr>
      <tr> <td>15:15</td>  <td>Coffee/tea break</td><td>Entresol 26</td>  </tr>
      <tr> <td>15:30</td>  <td><a href="{{site.workshop_site}}07-langchain">Langchain and large documents</a></td> <td>Room 3</td> </tr>
      <tr> <td>16:45</td>  <td>Rounding up</td><td>Room 3</td>  </tr>
      <tr> <td>17:00</td>  <td>End of the workshop with some refreshments</td> <td>Entresol 26</td> </tr>      
    </table>
  </div>
</div>
